.main-content-area{
    background-color:#212529;
}
.Calculator-area{
    display: flex;
    justify-content: center;
}
.categories-area{
    display: flex;
    justify-content: center;
}
.categories{
    width: 45%;
    background-color:#212529;
    margin-bottom: 60px;

}
.cat1{
    display: flex;
    justify-content: space-between;
    // padding: 40px 40px 40px 40px ;
    padding:  15px 1px  ;
}
.cat2a{
    display: flex;
    justify-content: space-between;
    padding:  15px 1px  ;
}
.cat2b{
    display: flex;
    justify-content: space-between;
    padding:  15px 1px  ;
}
.cat2c{
    display: flex;
    justify-content: space-between;
    padding:  15px 1px;
}

 
.cat3{
    display: flex;
    justify-content: space-between;
    padding:  15px 1px  ;
}
.second-area{
    // display: flex;
    // justify-content: center;
}
.balance{

      display: flex;
    justify-content: center;
}
.balance-btn{
    width: 320px;
    padding: 15px;
    background-color: #71bc93;
    border-radius: 1rem;
    box-shadow: 2px 2px #f0f0f0;
    color: aliceblue;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons-parent{
    display: flex;
    justify-content: center;
}
.buttons{
    margin-top: 40px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.income-btn{
    padding: 40px 40px;
    border-radius: 50%;
    border-color: #71bc93;
    border-width: 25px;   
}
.outcome-btn{
    padding: 40px 34px;
    border-radius: 50%;
    border-color: rgba(246,132,131,255);
    border-width: 25px;   
}


.add-income-area {
    color: aliceblue;
}
.add-outcome-area {
    color: aliceblue;
}
.knowOutcome{
    color: #f0f0f0;
}
h6{
    color: #f0f0f0;
}