.login-page{
    display: flex;
    justify-content: center;
}
.login-form{
    width: 28%;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    color: azure;
    margin-top: 100px;
}


